# VCS
.git
.github
.gitignore

# IDE/editor
.idea
.vscode

# OS
.DS_Store

# Dependencies and builds
node_modules
dist
out

# Local binaries and artifacts
main
traefiktop
traefiktop-bin

# Misc
*.log
coverage
*.lcov
